
body {
    width: 100%; height: 100%;  
    background: grey; color: #000000;
    font-family: "Century Gothic", "Apple Gothic", Verdana, sans-serif;
}

.game-board{
    height: 800px;
    width: 800px;
}