
<h1>hola</h1>

<!--
<div>
  <li *ngFor = "let celda of tab.matriz">
    {{celda.indiceColor + " "}}
  </li>
</div>

<table class='table' *ngIf="tableData">
  <tbody>
      <tr *ngFor="let data of tableData; let i = index">
          <td *ngFor="let cell of data">
            {{ cell }}
          </td>
      </tr>
  </tbody>
</table>

-->


<!--

<table class='table'  >
  <tbody>
      <tr *ngFor="let data of tab.matriz; let i = index">
          <td *ngFor="let cell of data">
            {{ cell.indiceColor }}
          </td>
      </tr>
  </tbody>
</table>

-->
<div class="grid">
  <canvas #board class="game-board"></canvas>
</div>
<button (click)="resetear()">Resetear</button>





